header {
    height: 400px;
    width: 100%;
    background-color: #4056a1;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.avatar {
    display: flex;
    justify-content: center;
    /* height: 00px; */
}

.name {
    color: #545149;
    display: flex;
    justify-content: center;
}